:root {
  --primary-color--orange: hsl(35, 77%, 62%);
  --primary-color--red: hsl(5, 85%, 63%);

  --neutral-color--off-white: hsl(36, 100%, 99%);
  --neutral-color--grayish: hsl(233, 8%, 79%);
  --neutral-color--dark-grayish: hsl(237, 13%, 42%, 1);
  --neutral-color--dark-blue: hsl(240, 100%, 5%);

  --fw--400: 400;
  --fw--700: 700;
  --fw--800: 800;

  --fs--body: 1.5rem;
  --fs--heading--xl: 5.6rem;
  --fs--heading--l: 4rem;
  --fs--heading--m: 3.2rem;
  --fs--heading--s-1: 2rem;
  --fs--heading--s-2: 2.4rem;
  --fs--heading--xs-1: 1.8rem;
  --fs--heading--xs-2: 2.4rem;

  --ff-main: 'Inter', sans-serif;
}

/* !RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li,
article {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General */
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  max-width: 144rem;
  padding: 0 16.6rem;
  background-color: #f2f2f2;
  font-weight: var(--fw--400);
  color: var(--neutral-color--dark-grayish);
  line-height: 2.6rem;
}

.header--primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8.9rem;
  margin-bottom: 5.51rem;
}

.nav--primary__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.nav--primary__list__item a:link,
.nav--primary__list__item a:visited {
  color: var(--neutral-color--dark-grayish);
}
.nav--primary__list__item a:hover,
a:focus {
  color: var(--primary-color--red);
}

/* Main */
/* .main-content__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
  /* place-items: center;
}

.grid--main {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 51.7rem; *
  column-gap: 3rem;
  /* max-height: 51.7rem; *
  margin-bottom: 6.5rem;

  display: flex;
  gap: 3rem;
}


.main-content__img {
  /* margin-bottom: 3.4rem;
  max-width: 73rem;
}
.img--div {
  grid-area: 1/1/1/3;
}
.heading--div {
  grid-area: 2/1/3/3;
}
.main__description {
  grid-area: 2/2/3/3;
} */
.section--main-content {
  margin-bottom: 6.5rem;
}

.heading--primary {
  font-size: var(--fs--heading--xl);
  font-weight: var(--fw--800);

  color: var(--neutral-color--dark-blue);
  line-height: 5.6rem;
}

.main-content__img {
  margin-bottom: 3.4rem;
}
.main-content__text-box {
  margin-bottom: 2.9rem;
}

.btn--red {
  padding: 1.3rem 3.5rem;
  background-color: var(--primary-color--red);
  color: var(--neutral-color--off-white);
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  /* margin-top: 2.9rem; */
}

.btn--red:hover {
  background-color: var(--neutral-color--dark-blue);
}
.btn--red a:active,
.btn--red a:hover {
  background-color: var(--neutral-color--dark-blue);
}

.btn--red a:link,
.btn--red a:visited {
  color: var(--neutral-color--off-white);
  text-decoration: none;
  transition: all 0.2s;
}

.btn--red a:hover,
a:active {
  color: var(--neutral-color--off-white);
}
.article-section {
  background-color: var(--neutral-color--dark-blue);
  padding: 2.4rem 3.1rem 0 2.4rem;
  max-height: 51rem;
}

.main-content__grid {
  display: grid;
  grid-template-columns: 1fr 35rem;
  column-gap: 3rem;
}
.main__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article__wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.heading--secondary {
  color: var(--primary-color--orange);
  font-size: var(--fs--heading--l);
  font-weight: var(--fw--700);
  margin-bottom: 3.2rem;
  line-height: 2.4rem;
}

.heading--tertiary {
  font-weight: var(--fw--800);
  /* margin-bottom: 0.8rem;
  margin-top: 3.1rem; */
}

.heading--tertiary a:link,
.heading--tertiary a:visited {
  color: var(--neutral-color--off-white);
  font-size: var(--fs--heading--s-1);
}
.heading--tertiary a:hover,
.heading--tertiary a:active {
  color: var(--primary-color--orange);
}

.list__text {
  color: var(--neutral-color--grayish);
  /* line-height: 2.6rem; */
  /* margin-bottom: 2.9rem; */
}

.article__list li {
  margin-bottom: 3.1rem;
  padding-bottom: 2.9rem;
  border-bottom: 1px solid hsla(236, 13%, 42%, 1);
}

.article__list li:last-child {
  border: none;
  padding: 0;
}

.section--trending {
  margin-bottom: 12.9rem;
}
.trending__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 12.9rem;
  column-gap: 3rem;
}

.trending__heading--primary {
  font-size: var(--fs--heading--m);
  color: var(--neutral-color--grayish);
  font-weight: var(--fw--700);
  margin-bottom: 1.2rem;
}

.trending__heading--secondary a:link,
.trending__heading--secondary a:visited {
  font-size: var(--fs--heading--xs-1);
  color: var(--neutral-color--dark-blue);
  font-weight: var(--fw--800);
  margin-bottom: 0.9rem;
  line-height: 2.4rem;
  cursor: pointer;
}

.trending__heading--secondary a:hover,
.trending__heading--secondary a:active {
  color: var(--primary-color--red);
}

.trending__col {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: flex-start;
  max-height: 12.9rem;
  min-width: 35rem;
}

.trending__text-box {
  line-height: 2.6rem;
}

.trending__image {
  width: 10rem;
}
